<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>step.learning.Filters.CharsetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>BrowserFilter</filter-name>
    <filter-class>step.learning.Filters.BrowserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BrowserFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>